<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csdj.mapper.zxf.XrayMapper">

    <select id="getrecordByid" resultType="Record">
        select * from `record` where rid=#{rid}
    </select>
    <select id="getUserByid" resultType="SysUser">
        select * from sys_user where id=#{id}
    </select>
    <insert id="addrresult" parameterType="RResult">
        INSERT INTO `r_result`(`rentryname`,`result`,`examinedoctorid`,`certificate`)
        VALUES(#{rentryname},#{result},#{examinedoctorid},#{certificate})
    </insert>
    <insert id="addXrayexamine" parameterType="XRayExamineResult">
        INSERT INTO `x_ray_examine_result`(`equipmentnumber`,`examineresult`,`examineresultdescribe`,`examinedoctorid`,`examinedate`,`certificate`)
VALUES(#{equipmentnumber},#{examineresult},#{examineresultdescribe},#{examinedoctorid},#{examinedate},#{certificate})
    </insert>
</mapper>