<!--刘湘-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" />
<head><meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title>基本信息查询</title>
<link href="https://cdn.jsdelivr.net/npm/layui-src@2.4.5/dist/css/layui.css" rel="stylesheet"/>
<link href="http://www.magicalcoder.com/magicaldrag/assets/drag/ui/magicalcoder/1.1.0/magicalcoder.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/json3/3.3.3/json3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.6.0/echarts.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.6.0/extension/dataTool.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/layui-src@2.4.5/dist/layui.all.js"></script>
<script src="http://www.magicalcoder.com/assets/js/common.js"></script>
<script src="http://www.magicalcoder.com/magicaldrag/assets/drag/ui/magicalcoder/1.1.0/magicalcoder.js"></script>
    <script src="../lib/jquery-3.4.1/jquery-3.4.1.min.js"></script>
</head>
<body class="layui-form" style="background-color:#eee;padding: 20px;">
    <div class="layui-fluid" style="width: 100%;">
        <label class="layui-form-label" style="background-color: rgb(113, 192, 208); border-width: 0px 1px 0px 0px; border-bottom-style: solid; border-bottom-color: rgb(177, 177, 177); text-align: left; font-size: 16px; width: 100%; margin-bottom: 50px;">搜索条件</label><form class="layui-form">

            <div class="layui-form-item">
                <form id=froms>
                <table class="table" style="width: 100%;" border="0">
                    <tbody>
                        <tr style="margin-bottom: 0px; padding-bottom: 20px;  height: 60px; margin-top: 0px;">
                            <td style="border-bottom-width: 1px;" colspan="4">
                                <div class="input-group" style="width: 400px;">
                            <label class="layui-form-label" style="background-color: rgb(225, 225, 225); border-style: solid; border-color: rgb(181, 181, 181); border-width: 1px; text-align: center; font-size: 16px;width: 30%; ">建档开始日期:</label><input id="creationtime" name="creationtime" class=" layui-input" style="width: 58%; height: 40px;" type="text"/>
                                </div>
                            </td>
                            <td colspan="4"><div class="input-group" style="width: 400px;">
                                <label class="layui-form-label" style="background-color: rgb(225, 225, 225); border-style: solid; border-color: rgb(181, 181, 181); border-width: 1px; text-align: center; font-size: 16px; width: 30%;">妻子证件号码:</label><input id="fcertificate" name="fcertificate" class="layui-input" style="height: 40px; max-width: 290%; width: 58%;" type="text"/>
                            </div>
                        </td>
                            <td colspan="4"><div class="input-group" style="width: 400px;">
                                <label class="layui-form-label" style="background-color: rgb(225, 225, 225); border-style: solid; border-color: rgb(181, 181, 181); border-width: 1px; text-align: center; font-size: 16px; width: 30%;">妻子名字:</label><input id="fname" name="fname" class="layui-input" style="height: 40px; max-width: 290%; width: 58%;" type="text" autocomplete="off" />
                            </div>
                        </td>
                        </tr>
                        <tr style="height: 50px;"><td colspan="4"><div class="input-group" style="width: 400px;">
                                <label class="layui-form-label" style="background-color: rgb(225, 225, 225); border-style: solid; border-color: rgb(181, 181, 181); border-width: 1px; text-align: center; font-size: 16px; width: 30%;">丈夫证件号码:</label><input id="bcertificate" name="bcertificate" class="layui-input" style="height: 40px; max-width: 290%; width: 58%;" type="text"/>
                            </div>
                        </td><td colspan="4"><div class="input-group" style="width: 400px;">
                                <label class="layui-form-label" style="background-color: rgb(225, 225, 225); border-style: solid; border-color: rgb(181, 181, 181); border-width: 1px; text-align: center; font-size: 16px; width: 30%;">丈夫名字:</label><input id="bname" name="bname" class="layui-input" style="height: 40px; max-width: 290%; width: 58%;" type="text"/>
                            </div>
                        </td><td colspan="4"><div class="input-group" style="width: 400px;">
                                <label class="layui-form-label" style="background-color: rgb(225, 225, 225); border-style: solid; border-color: rgb(181, 181, 181); border-width: 1px; text-align: center; font-size: 16px; width: 30%;">妻子出生日期:</label><input id="fbirth" name="fbirth" class=" layui-input" style="width: 58%; height: 40px;" type="text"/>
                            </div>
                        </td></tr>
                        <tr style="height: 50px;">
                            <td colspan="4"><div class="input-group" style="width: 400px;">
                                <label class="layui-form-label" style="background-color: rgb(225, 225, 225); border-style: solid; border-color: rgb(181, 181, 181); border-width: 1px; text-align: center; font-size: 16px; width: 30%;">丈夫出生日期:</label><input id="birth" name="birth" class=" layui-input" style="width: 58%; height: 40px;" type="text"  />
                            </div>
                            </td>
                            <td colspan="4"><div class="input-group" style="width: 400px;">
                                <label class="layui-form-label" style="background-color: rgb(225, 225, 225); border-style: solid; border-color: rgb(181, 181, 181); border-width: 1px; text-align: center; font-size: 16px; width: 30%;">档案信息编号:</label><input id="rid" name="rid" class=" layui-input" style="width: 58%; height: 40px;" type="text" />
                            </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                </form>
                <table style="margin: auto; top: 20px; position: relative;">
                    <tbody>
                        <tr><td colspan="4"><input   id="btn_yes" data-type="reload" class="layui-btn layui-btn-normal" style="margin-left: 10px; margin-right: 10px;" type="button" value="查询"/><input onclick="fomrReset()" class="layui-btn layui-btn-danger" style="margin-left: 10px; margin-right: 10px;" type="button" value="清空"/></tr>
                    </tbody>
                </table>
            </div>
        </form>
        <label class="layui-form-label" style="background-color: rgb(113, 192, 208); border-width: 0px 1px 0px 0px; border-bottom-style: solid; border-bottom-color: rgb(177, 177, 177); text-align: left; font-size: 16px; width: 100%; margin-bottom: 50px; top: 45px;">信息列表</label>
        <table class="layui-table" id="test" lay-filter="layuidemo"></table>
    </div>
    <script th:inline="none">
        layui.use(["table","jquery","layer","form","laypage"], function(){
            var table = layui.table
                ,$=layui.jquery
                ,layer=layui.layer
                ,form = layui.form
                , util = layui.util;

            table.render({
                elem: '#test'
                ,url:'../RecordController/recordlist'
                ,method:'post'
                ,parseData: function(res){ //res 即为原始返回的数据
                    return {
                        "code": res.code, //解析接口状态
                        "msg": res.msg, //解析提示文本
                        "count": res.count, //解析数据长度
                        "data": res.data //解析数据列表
                    }
                }
                ,request: {
                    stuName: 'index' //页码的参数名称，默认：page
                    ,limitName: 'pageSize' //每页数据量的参数名，默认：limit
                }
                ,cols: [[
                    {field:'rid',  title: '编号', sort: true}
                    ,{field:'fname', title: '妻子姓名'}
                    ,{field:'fbirth', title: '妻子出生日期',templet:function (row){return createTime(row.fbirth); } }
                    ,{field:'fcertificate',title: '妻子证件号码', sort: true}
                    ,{field:'bname',  title: '丈夫姓名'}
                    ,{field:'birth', title: '丈夫出生日期', templet:function (row){return createTime(row.birth); } }
                    ,{field:'bcertificate',  title: '丈夫证件号码', sort: true}
                    ,{field:'creationtime', title: '建档日期',templet:function (row){return createTime(row.creationtime); } }
                ]]
                ,page: true
                ,id:'userTableReload'
            });


            //根据条件查询表格数据重新加载
            var $ = layui.$, active = {
                reload: function(){
                    //获取用户名
                    var creationtime=$("#creationtime").val();
                    var fcertificate=$("#fcertificate").val();
                    var fname=$("#fname").val();
                    var bcertificate=$("#bcertificate").val();
                    var bname=$("#bname").val();
                    var fbirth=$("#fbirth").val();
                    var birth=$("#birth").val();
                    var rid=$("#rid").val();
                    //执行重载
                    table.reload('userTableReload', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                        //根据条件查询
                        ,where: {
                            creationtime:creationtime,
                            fcertificate:fcertificate,
                            fname:fname,
                            bcertificate:bcertificate,
                            bname:bname,
                            fbirth:fbirth,
                            birth:birth,
                            rid:rid
                        }
                    });
                }
            };
            //点击搜索按钮根据用户名称查询
            $('#btn_yes').on('click',
                function(){
                    var type = $(this).data('type');
                    active[type] ? active[type].call(this) : '';
                });



        })


        layui.use(['form','laydate'], function() {
            var form = layui.form
                ,laydate = layui.laydate;

            //执行一个laydate实例
            laydate.render({
                elem : '#creationtime'
                ,trigger: 'click'
            });
            laydate.render({
                elem : '#fbirth'
                ,trigger: 'click'
            });
            laydate.render({
                elem : '#birth'
                ,trigger: 'click'
            });


        });


    </script>
    <script type="text/javascript">
        function createTime(v){
            var date = new Date(v);
            var y = date.getFullYear();
            var m = date.getMonth()+1;
            m = m<10?'0'+m:m;
            var d = date.getDate();
            d = d<10?("0"+d):d;
            var h = date.getHours();
            h = h<10?("0"+h):h;
            var M = date.getMinutes();
            M = M<10?("0"+M):M;
            var str = y+"-"+m+"-"+d;
            return str;
        }
    </script>
<script>
    function fomrReset()
    {
        $("#creationtime").val('');
        $("#fcertificate").val('');
        $("#fname").val('');
        $("#bcertificate").val('');
        $("#bname").val('');
        $("#fbirth").val('');
        $("#birth").val('');
        $("#rid").val('');
    }
</script>
</body>
</html>