<!-- 刘湘 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" />
<head><meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title>自定义发送短信</title>
<link href="https://cdn.jsdelivr.net/npm/layui-src@2.4.5/dist/css/layui.css" rel="stylesheet"/>
<link href="http://www.magicalcoder.com/magicaldrag/assets/drag/ui/magicalcoder/1.1.0/magicalcoder.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/json3/3.3.3/json3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.6.0/echarts.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.6.0/extension/dataTool.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/layui-src@2.4.5/dist/layui.all.js"></script>
<script src="http://www.magicalcoder.com/assets/js/common.js"></script>
<script src="http://www.magicalcoder.com/magicaldrag/assets/drag/ui/magicalcoder/1.1.0/magicalcoder.js"></script>
</head>    <script src="../lib/jquery-3.4.1/jquery-3.4.1.min.js"></script>
<body class="layui-form" style="background-color:#eee;padding: 20px;">
    <div class="layui-fluid" style="width: 100%;">
        <form id="form_yh" class="layui-form" style="width: 100%;">
            <div class="layui-form-item" style="width: 100%; margin: 10px 10px 20px;">
                <div class="layui-inline" style="margin: 10px 10px 20px;">
                    <label class="layui-form-label" style="text-align: center; height: 18px; font-size: 16px; margin-right: 10px;">妻子姓名:</label><div class="layui-input-inline">
                        <input id="fname" name="fname" class="layui-input" type="text" autocomplete="off" />
                    </div>
                </div>
                <div class="layui-inline" style="margin: 10px 10px 20px;">
                    <label class="layui-form-label" style="text-align: center; height: 18px; font-size: 16px; right: 10px;">身份证号:</label><div class="layui-input-inline">
                        <input id="fcertificate" name="fcertificate" class="layui-input" type="text" autocomplete="off" />
                    </div>
                </div>
                <div class="layui-inline" style="margin: 10px 10px 20px; top: 0px; bottom: 0px; left: 0px; right: 0px; width: 21.6058%;">
                    <label class="layui-form-label" style="text-align: center; font-size: 16px; left: 10px; width: 32.518%;">创建时间-从</label><div class="layui-input-inline">
                        <input id="creationtime1" name="creationtime1"  class="magicalcoder-laydate layui-input" type="text" autocomplete="off" lay-verify="magicalCoderVerify" />
                    </div>
                </div>
                <div class="layui-inline" style="top: 0px; bottom: 0px; left: 0px; right: 0px; margin: 10px 10px 20px;">
                    <label class="layui-form-label" style="font-size: 16px; text-align: center; left: 10px;">至:</label><div class="layui-input-inline">
                        <input id="creationtime2" name="creationtime2" class="magicalcoder-laydate layui-input" type="text" autocomplete="off" lay-verify="magicalCoderVerify" />
                    </div>
                </div>
            </div>
            <div class="layui-form-item" style="width: 100%;">
                <div class="layui-inline" style="float: right; width: 30%; top: 0px; bottom: 0px;">
                    <div class="layui-input-inline" style="float: left; width: 100%;">
                        <input   id="btn_yes" data-type="reload" class="layui-btn layui-btn-normal" style="margin-left: 10px; margin-right: 10px; width: 25%;" type="button" value="查询"/><a onclick="fomrReset()" class="layui-btn layui-btn-danger" style="width: 25%;">清空</a><!--<a class="layui-btn layui-btn-warm" style="width: 25%;">返回</a>-->
                    </div>
                </div>
            </div>
        </form>
        <form class="layui-form">
            <div class="layui-form-item">
                <div class="layui-inline" style="width: 68.5114%;">
                    <label class="layui-form-label" style="font-size: 15px; text-align: right;">短信内容</label><div class="layui-input-inline" style="width: 30.7285%; height: 70px;">
                        <div class="magical-coder-tmp layui-form" style="width: 96.3981%;">
                            <select id="textSMS"><option value="尊敬的,你好,请到检验报告科拿取报告">尊敬的@{name},你好,请到检验报告科拿取报告</option></select>
                        </div>
                    </div>
                    <!--<div class="layui-input-inline" style="width: 3.82315%; height: 26px;">
                        <a class="layui-btn" style="">发送短信</a>
                    </div>-->
                </div>
            </div>
        </form>
        <div>
        <table id="test" class="layui-table" lay-filter="layuidemo"></table>
        </div>
    </div>
    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="getCheckData">发送短信</button>
        </div>
    </script>
    <script>
        layui.use(['form','laydate'], function() {
            var form = layui.form
                , laydate = layui.laydate;

            //执行一个laydate实例
            laydate.render({
                elem: '#creationtime1'
                , type: 'date'
                , trigger: 'click'
            });
            laydate.render({
                elem: '#creationtime2'
                , type: 'date'
                , trigger: 'click'
            });
        });
    </script>
   <script th:inline="none">
           layui.use(["table","jquery","layer","form","laypage"], function(){
               var table = layui.table
                   ,$=layui.jquery
                   ,layer=layui.layer
                   ,form = layui.form
                   , util = layui.util;
               /*下拉框*/
               form.render();
               table.render({
                   elem: '#test'
                   ,url:'../FollowUpVisitController/FRecordByRecord'
                   ,method:'post'
                   ,parseData: function(res){ //res 即为原始返回的数据
                       return {
                           "code": res.code, //解析接口状态
                           "msg": res.msg, //解析提示文本
                           "count": res.count, //解析数据长度
                           "data": res.data //解析数据列表
                       }
                   }
                   ,request: {
                       stuName: 'index' //页码的参数名称，默认：page
                       ,limitName: 'pageSize' //每页数据量的参数名，默认：limit
                   }
                   ,cols: [[
                        {type:'checkbox'},
                        {field:'rid',  title: '档案编号', sort: true,align:'center'}
                       ,{field:'fname', title: '姓名'}
                       ,{field:'fcertificate',title: '证件号码', sort: true,align:'center'}
                       ,{field:'fage', title: '年龄',align:'center'}
                       ,{field:'fbirth', title: '出生日期',align:'center',templet: function (row){return createTime(row.fbirth);}}
                       ,{field:'present', title: '住址',align:'center'}
                       ,{field:'fphone', title: '手机号码',align:'center'}
                         ]]
                   ,page: true
                   ,id:'userTableReload'
                   ,toolbar: '#toolbarDemo'
               });


               //根据条件查询表格数据重新加载
               var $ = layui.$, active = {
                   reload: function(){

                       var creationtime1=$("#creationtime1").val();
                       var creationtime2=$("#creationtime2").val();
                       var fcertificate=$("#fcertificate").val();
                       var fname=$("#fname").val();

                       //执行重载
                       table.reload('userTableReload', {
                           page: {
                               curr: 1 //重新从第 1 页开始
                           }
                           //根据条件查询
                           ,where: {
                               fname:fname,
                               fcertificate:fcertificate,
                               creationtime1:creationtime1,
                               creationtime2:creationtime2
                           }
                       });
                   }
               };
               //点击搜索按钮根据用户名称查询
               $('#btn_yes').on('click',
                   function(){
                       var type = $(this).data('type');
                       active[type] ? active[type].call(this) : '';
                   });

               //头工具栏事件
               table.on('toolbar(layuidemo)', function(obj){
                   var checkStatus = table.checkStatus(obj.config.id);
                   switch(obj.event){
                       case 'getCheckData':
                           var result = checkStatus.data;
                            var textsms=$("#textSMS").val();
                           if(result==null || result=='')
                           {
                               layer.msg("未选择发送对象");
                           }else
                           {
                               //询问框

                               layer.alert('您确认发送吗？', {
                                   btn: ['确认发送','关闭发送'] //按钮
                               }, function(){

                                   $.ajax({
                                       url:"../FollowUpVisitController/addlistsms",
                                       dataType:"json",
                                       type:"post",
                                       contentType:"application/json",
                                       data:JSON.stringify(result),
                                       success:function(resd){
                                           if(resd>0){
                                               layer.msg("已发送信息，共"+resd+"条");
                                           }else {
                                               layer.msg("发送错误");
                                           }
                                       }
                                   })
                               }, function(){
                                   layer.msg("取消发送");
                               });




                           }


                           break;
                   };
               });

           });
   </script>
    <script type="text/javascript">
        function createTime(v){
            var date = new Date(v);
            var y = date.getFullYear();
            var m = date.getMonth()+1;
            m = m<10?'0'+m:m;
            var d = date.getDate();
            d = d<10?("0"+d):d;
            var h = date.getHours();
            h = h<10?("0"+h):h;
            var M = date.getMinutes();
            M = M<10?("0"+M):M;
            var str = y+"-"+m+"-"+d;
            return str;
        }
    </script>
<script>
    function selects() {
        layui.use('form',function () {
            var form=layui.form;
            form.render('select');
        })
    }

    function fomrReset()
    {
        document.getElementById("form_yh").reset();
    }
</script>
</body>
</html>