<!--刘湘-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" />
<head><meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title>超声影像</title>
<link href="https://cdn.jsdelivr.net/npm/layui-src@2.4.5/dist/css/layui.css" rel="stylesheet"/>
<link href="http://www.magicalcoder.com/magicaldrag/assets/drag/ui/magicalcoder/1.1.0/magicalcoder.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/json3/3.3.3/json3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.6.0/echarts.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.6.0/extension/dataTool.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/layui-src@2.4.5/dist/layui.all.js"></script>
<script src="http://www.magicalcoder.com/assets/js/common.js"></script>
<script src="http://www.magicalcoder.com/magicaldrag/assets/drag/ui/magicalcoder/1.1.0/magicalcoder.js"></script>
    <script src="../js/jquery-1.8.3.min.js"></script>
    <script src="../layui/layer-v3.1.1/layer/layer.js"></script>
</head>
<body class="layui-form" style="background-color:#eee;padding: 20px;">
    <div class="layui-fluid">
        <form class="layui-form" style="width: 25%;">
            <div class="layui-form-item">
                <label class="layui-form-label" style="border-width: 1px; border-color: rgb(181, 181, 181); text-align: center; font-size: 17px; font-weight: bold;">基本信息</label>
            </div>
            <div class="layui-form-item" style="margin-top: 0px; margin-bottom: -20px;">
                <label class="layui-form-label" style="background-color: rgb(225, 225, 225); border-style: solid; border-color: rgb(181, 181, 181); border-width: 1px; text-align: center; font-size: 16px;">档案编号</label>
				<input id="rid" name="rid" class="layui-input" readonly style="width: 51.7857%; height: 40px; max-width: 290%;" type="text" autocomplete="off"  th:value="${session.Record!=null ? session.Record.rid:''}"  />
            </div>
            <div class="layui-form-item" style="margin-top: 0px; margin-bottom: -20px;">
                <label class="layui-form-label" style="background-color: rgb(225, 225, 225); border-style: solid; border-color: rgb(181, 181, 181); border-width: 1px; text-align: center; font-size: 16px;">妻子姓名</label>
				<input class="layui-input" readonly style="width: 51.7857%; height: 40px; max-width: 290%;" type="text" autocomplete="off" th:value="${session.Record!=null ? session.Record.fname:''}"/>
            </div>
            <div class="layui-form-item" style="margin-top: 0px; margin-bottom: -20px;">
                <label class="layui-form-label" style="background-color: rgb(225, 225, 225); border-style: solid; border-color: rgb(181, 181, 181); border-width: 1px; text-align: center; font-size: 16px;">出生日期</label>
				<input class="layui-input" readonly style="width: 51.7857%; height: 40px; max-width: 290%;" type="text" autocomplete="off" th:value="${session.Record}==null?'':${#dates.format(session.Record.fbirth, 'yyyy-MM-dd')}" />
            </div>
            <div class="layui-form-item" style="margin-top: 0px; margin-bottom: -20px;">
                <label class="layui-form-label" style="background-color: rgb(225, 225, 225); border-style: solid; border-color: rgb(181, 181, 181); border-width: 1px; text-align: center; font-size: 16px;">年龄</label>
				<input class="layui-input" readonly style="width: 51.7857%; height: 40px; max-width: 290%;" type="text" autocomplete="off" th:value="${session.Record!=null ? session.Record.fage:''}"/>
            </div>
            <div class="layui-form-item" style="margin-top: 0px; margin-bottom: -20px;">
                <label class="layui-form-label" style="background-color: rgb(225, 225, 225); border-style: solid; border-color: rgb(181, 181, 181); border-width: 1px; text-align: center; font-size: 16px;">身份证号</label>
				<input id="fcertificate" readonly name="fcertificate" class="layui-input" style="width: 51.7857%; height: 40px; max-width: 290%;" type="text" autocomplete="off" th:value="${session.Record!=null ? session.Record.fcertificate:''}"/>
            </div>
            <div class="layui-form-item" style="margin-top: 0px; margin-bottom: -20px;">
                <label class="layui-form-label" style="background-color: rgb(225, 225, 225); border-style: solid; border-color: rgb(181, 181, 181); border-width: 1px; text-align: center; font-size: 16px;">丈夫姓名</label>
				<input class="layui-input" readonly style="width: 51.7857%; height: 40px; max-width: 290%;" type="text" autocomplete="off" th:value="${session.Record!=null ? session.Record.bname:''}"/>
            </div>
            <div class="layui-form-item" style="margin-top: 0px; margin-bottom: -20px;">
                <label class="layui-form-label" style="background-color: rgb(225, 225, 225); border-style: solid; border-color: rgb(181, 181, 181); border-width: 1px; text-align: center; font-size: 16px;">出生日期</label>
				<input class="layui-input" readonly style="width: 51.7857%; height: 40px; max-width: 290%;" type="text" autocomplete="off" th:value="${session.Record}==null?'':${#dates.format(session.Record.birth, 'yyyy-MM-dd')}"/>
            </div>
            <div class="layui-form-item" style="margin-top: 0px; margin-bottom: -20px;">
                <label class="layui-form-label" style="background-color: rgb(225, 225, 225); border-style: solid; border-color: rgb(181, 181, 181); border-width: 1px; text-align: center; font-size: 16px;">年龄</label>
				<input class="layui-input" readonly style="width: 51.7857%; height: 40px; max-width: 290%;" type="text" autocomplete="off" th:value="${session.Record!=null ? session.Record.bage:''}"/>
            </div>
            <div class="layui-form-item" style="margin-top: 0px; margin-bottom: -20px;">
                <label class="layui-form-label" style="background-color: rgb(225, 225, 225); border-style: solid; border-color: rgb(181, 181, 181); border-width: 1px; text-align: center; font-size: 16px;">身份证号</label>
				<input class="layui-input" readonly style="width: 51.7857%; height: 40px; max-width: 290%;" type="text" autocomplete="off" th:value="${session.Record!=null ? session.Record.bcertificate:''}"/>
            </div>
            <div class="layui-form-item" style="margin-top: 0px; margin-bottom: -20px;">
                <label class="layui-form-label" style="background-color: rgb(225, 225, 225); border-style: solid; border-color: rgb(181, 181, 181); border-width: 1px; text-align: center; font-size: 16px;">操作医生</label>
				<input class="layui-input" readonly style="width: 51.7857%; height: 40px; max-width: 290%;" type="text" autocomplete="off" th:value="hhh"/>
            </div>
        </form>
        <!--b超图片-->
        <form class="layui-form" style="width: 40%; position: absolute; top: 11px; left: 500px;">
            <div class="layui-form-item">
                <img id="ulimg"  style="width:100%;" />
            </div>
        </form>
        <form class="layui-form" style="width: 25%; position: absolute; top: 11px; height: 100%; left: 75%;">
            <div class="layui-form-item" style="height: 0px; padding-bottom: 60px; padding-left: 0px;">
                <label class="layui-form-label" style="border-width: 1px; text-align: left; font-size: 16px; width: 50%;">检查结果</label><div class="magical-coder-tmp" style="width: 100%; height: 20px;">
                    <select id="select_result" style="height: 20px;" >
                        <option value="0">正常</option>
                        <option value="1">异常</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item" style="height: 0px; margin-top: 0px; bottom: 0px; padding-bottom: 0px; margin-bottom: 150px;">
                <label class="layui-form-label" style="border-width: 1px; text-align: left; font-size: 16px; width: 50%;">超声所见(详细)</label><textarea name="resultdescribe" id="resultdescribe" class="layui-textarea" placeholder="请输入内容" rows="5" cols="16"></textarea>
            </div>
            <div class="layui-form-item" style="height: 0px; left: 0px; top: 0px; margin-bottom: 70px;">
                <label class="layui-form-label" style="border-width: 1px; text-align: left; font-size: 16px; width: 50%;">检查日期</label><input id="inspectiontime" name="inspectiontime" class="magicalcoder-laydate layui-input" type="text" autocomplete="off" lay-verify="magicalCoderVerify" />
            </div>
            <div class="layui-form-item" style="height: 0px; padding-top: 0px;">
                <label class="layui-form-label" style="border-width: 1px; text-align: left; font-size: 16px; width: 50%;">医生签名:</label><div class="magical-coder-tmp" style="width: 100%; height: 20px;">
                <input id="username" name="username"  class="layui-input" style="width: 51.7857%; height: 40px; max-width: 290%;" type="text" autocomplete="off"/>
                </div>
            </div>
        </form>
        <form class="layui-form" style="width: 50%; position: absolute; top: 520px; left: 35%;">
            <div class="layui-form-item" style="margin-top: 0px; margin-bottom: -20px;">
                <span type="button" onclick="unlselect()" class="layui-btn" style="width: 15.6704%; margin-left: 25px;"> 查询超声照片</span><!--<a class="layui-btn" style="width: 17.0261%;">按钮</a><a class="layui-btn" style="width: 14.2165%;">按钮</a>-->
            </div>
        </form>
    </div>
   <script>

       layui.use(["table","jquery","layer","form"], function(){
           var table = layui.table
               ,$=layui.jquery
               ,layer=layui.layer
               ,form = layui.form;
           /*下拉框*/
           form.render();
       });
       /*日期*/
       layui.use(['form','laydate'], function() {
           var form = layui.form
               ,laydate = layui.laydate;

           //执行一个laydate实例
           laydate.render({
               elem : '#creationtime'
               ,trigger: 'click'
           });
           laydate.render({
               elem : '#fbirth'
               ,trigger: 'click'
           });
       });
   </script>
    <script type="text/javascript">
        $(function(){
            var username = '<%= session.getAttribute("Record")%>';
        })
    </script>
<script type="text/javascript">


    function selects() {
        layui.use('form',function () {
            var form=layui.form;
            form.render('select');
        })
    }

    function unlselect() {
        var fcertificate=$("#fcertificate").val();
        $.ajax({
            url:"../UltrasonicImageController/ultrasonicImageByrid",
            type:"post",
            data: {certificate:fcertificate},
            dataType:"json",
            success:function(result){

                    /*用户名*/
                    /*结果*/
                    $("#select_result").val(result.result);
                    /*详细*/
                    $("#resultdescribe").val(result.resultdescribe);
                    /*医生*/
                    $("#username").val(result.sysUser.username);
                    /*日期*/
                    $("#inspectiontime").val(result.inspectiontime);
                    $("#ulimg").attr("src", "../" + result.image);
                    selects();

            }
        })
    }
</script>
</body>
</html>