<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" />
<html>

<head>
	<meta charset="utf-8">
	<title>Layui</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="/layui/css/layui.css" />
	<style type="text/css">
		input{
			width: 200px;
			height: 36px;
			text-align: center;
		}
		button{
			width: 100px;
		}

	</style>
	<!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>

<body>
<form class="layui-form layui-form-pane" action="" style="margin-top: 10px;">
		<div class="layuimini-container">
			<fieldset class="table-search-fieldset">
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">档案编号</label>
						<div class="layui-input-block">
							<input type="text" name="rid" id="rid" required lay-verify="required" autocomplete="off" placeholder="请输入编号" class="layui-input">
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">开始时间</label>
						<div class="layui-input-inline">
							<input type="text" name="creationtime1" id="creationtime1" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">结束时间</label>
						<div class="layui-input-inline">
							<input type="text" name="creationtime2" id="creationtime2" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
						</div>
					</div>

				</div>
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">妻子姓名</label>
						<div class="layui-input-block">
							<input type="text" name="fname" id="fname" required lay-verify="required" autocomplete="off" placeholder="请输入姓名" class="layui-input">
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">证件号码</label>
						<div class="layui-input-block">
							<input type="text" name="fcertificate" id="fcertificate" required lay-verify="required" autocomplete="off" placeholder="请输入证件号码" class="layui-input">
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">丈夫姓名</label>
						<div class="layui-input-block">
							<input type="text" name="bname" id="bname"  required lay-verify="required" autocomplete="off" placeholder="请输入姓名" class="layui-input">
						</div>
					</div>


				</div>
				<div class="layui-form-item">
					<div class="layui-inline">
					  <label class="layui-form-label">证件号码</label>
					  <div class="layui-input-block">
						 <input type="text" name="bcertificate" id="bcertificate" required lay-verify="required" autocomplete="off" placeholder="请输入证件号码" class="layui-input">
					   </div>
				   </div>
					<div class="layui-inline">
						<label class="layui-form-label">妻子出生日期 : </label>
						<div class="layui-input-block">
							<input type="text" name="fbirth" id="fbirth"  required lay-verify="required" autocomplete="off" placeholder="请输入出生日期" class="layui-input">
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">丈夫出生日期 : </label>
						<div class="layui-input-block">
							<input type="text" name="birth" id="birth"   required lay-verify="required" autocomplete="off" placeholder="请输入出生日期" class="layui-input">
						</div>
					</div>
				</div>
			<button type="button" class="layui-btn layui-btn-norma" id="btn">查询</button>
			<button type="reset"  class="layui-btn layui-btn-normal">清空</button>
			<table id="demo" lay-filter="test"></table>
			</fieldset>
		</div>
</form>
		<script type="text/html" id="barDemo">
			<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">选中</a>
		</script>

</body>

<script src="/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->

<script>
	layui.use(['form','layer','layedit', 'table', 'jquery', 'laydate'], function() {
		var form = layui.form;
		var layer = layui.layer,
				layedit = layui.layedit,
				table = layui.table,
				$ = layui.jquery;
		var laydate = layui.laydate;
		laydate.render({
			elem: '#fbirth'
			//指定元素
			,format:'yyyy-MM-dd'
			,type:'date'
			,trigger: 'click'

		});
		laydate.render({
			elem: '#birth'
			//指定元素
			,format:'yyyy-MM-dd'
			,type:'date'
			,trigger: 'click'

		});
		laydate.render({
			elem: '#creationtime1'
			//指定元素
			,format:'yyyy-MM-dd'
			,type:'date'
			,trigger: 'click'

		});
		laydate.render({
			elem: '#creationtime2'
			//指定元素
			,format:'yyyy-MM-dd'
			,type:'date'
			,trigger: 'click'

		});
		table.render({
			elem: '#demo',
			url: 'page' //数据接口
			,
			page: true //开启分页
			,
			cols: [
				[
					{type: 'checkbox', fixed: 'left'},
					{ field: 'rid', title: '编号'},
					{ field: 'fname', title: '妻子姓名'},
					{ field: 'fbirth', title: '妻子出生日期',templet:function (row){return createTime(row.fbirth); } },
					{ field: 'fcertificate', title: '妻子证件号码'},
					{ field: 'bname', title: '丈夫姓名'},
					{ field: 'birth', title: '丈夫出生日期',templet:function (row){return createTime(row.birth); } },
					{ field: 'bcertificate', title: '丈夫证件号码'},
					{ field: 'creationtime', title: '档案日期',templet:function (row){return createTime(row.creationtime); } },
					{fixed: 'right', title:'操作', toolbar: '#barDemo', width:150}
				]
			],
			limit: 7,
			limits: [3, 5, 7],
			defaultToolbar: ['filter'],
			id: 'demoRecord',

		})
		$("#btn").click(function() {
			var creationtime1=$("#creationtime1").val();
			var creationtime2=$("#creationtime2").val();
			var rid = $("#rid").val();
			var bname = $("#bname").val();
			var fname = $("#fname").val();
			var birth = $("#birth").val();
			var fbirth = $("#fbirth").val();
			var bcertificate = $("#bcertificate").val();
			var fcertificate = $("#fcertificate").val();
			table.reload('demoRecord', {
				where : {
					rid : rid,
					creationtime1:creationtime1,
					creationtime2:creationtime2,
					bname : bname,
					fname : fname,
					birth : birth,
					fbirth : fbirth,
					bcertificate : bcertificate,
					fcertificate : fcertificate
				} ,
				page : {
				curr : 1
				//重新从第 1 页开始
			}

			});

		})

		table.on('tool(test)', function(obj){
			var data = obj.data;
			if (obj.event === 'del') {

					$.ajax({
						url : "deleteByid",
						data : {rid:obj.data.rid},
						type : "post",
						dataType : "text",
						success : function(result) {
								layer.msg("选中成功");
						}
					})


			}
		});

	});
</script>
<script type="text/javascript">
	function createTime(v){
		var date = new Date(v);
		var y = date.getFullYear();
		var m = date.getMonth()+1;
		m = m<10?'0'+m:m;
		var d = date.getDate();
		d = d<10?("0"+d):d;
		var h = date.getHours();
		h = h<10?("0"+h):h;
		var M = date.getMinutes();
		M = M<10?("0"+M):M;
		var str = y+"-"+m+"-"+d/*+" "+h+":"+M*/;
		return str;
	}
</script>
</body>

</html>