<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>x射线检查</title>
		<link rel="stylesheet" href="/layui/css/layui.css">
		<style type="text/css">
			.layui-form-label {
				width: 120px;
			}
			
			.layui-inline {
				margin-left: 100px;
			}
			
			strong {
				opacity: 0.7;
				font-size: 17px;
			}
		</style>
	</head>

	<body>
		<div class="layui-container" style="width: 1100px;">
			<form class="layui-form" action="" style="margin-top: 20px;">
				<div class="layui-col-md6">
					<div class="layui-form-item">
						<label class="layui-form-label" style="margin-left: -50px;">系统编号</label>
						<div class="layui-input-block">
							<input type="text" name="title" id="rid" required lay-verify="required"  autocomplete="off" class="layui-input">
							<input type="hidden" id="certificate">
						</div>
					</div>


				</div>
				<div class="layui-col-md6">
					<div class="layui-form-item">
						<label class="layui-form-label" style="margin-left: -50px;">姓名</label>
						<div class="layui-input-block">
							<input type="text" name="title" id="name" required lay-verify="required"  autocomplete="off" class="layui-input">
						</div>
					</div>
				</div>
				<fieldset class="layui-elem-field site-demo-button" style="margin-top: 30px;">
				<div class="layui-col-md6">
					<div class="layui-form-item">
						<label class="layui-form-label" style="margin-left: -50px;">x射线号  :</label>
						<div class="layui-input-block">
							<input type="text" name="title" id="equipmentnumber" required lay-verify="required" autocomplete="off" class="layui-input">
						</div>
					</div>
				  
				</div>
				
			<br />

				<div>
					

					<div class="layui-form-item layui-form-text">
						<div class="layui-input-block">
							<span style="margin-left:-100px;"> x射线所见  : </span><textarea placeholder="请输入内容" id="examineresult" class="layui-textarea"></textarea>
						</div>
					</div>

				</div>

				<div>
					
						<input type="radio" name="sex" checked value="心肺横隔未见明显异常或改变" title="心肺横隔未见明显异常或改变"><br />
						<input type="radio" name="sex" value="检查禁忌和其他原因末查" title="检查禁忌和其他原因末查"><br />
						<input type="radio" name="sex" value="存在异常情况,具体原因如下:" title="存在异常情况,具体原因如下:"><br />
					<div class="layui-form-item layui-form-text">
						<div class="layui-input-block" >
							<textarea placeholder="请输入内容" id="ycsr" class="layui-textarea"></textarea>
						</div>
					</div>
				</div>
				</fieldset>

				

			
				<br />
				<hr />
				<br />
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">医师签名: : </label>
						<div class="layui-input-inline">
							<input type="text" name="title" id="ysName"

								   lay-verify="required|phone" autocomplete="off" class="layui-input">
							<input type="hidden" id="ysid">
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">检查时间 : </label>
						<div class="layui-input-inline">
							<input type="text" name="title" id="test2" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
						</div>
					</div>
				</div>
				<div class="layui-form-item" style="align-content: center;margin-left: 200px;">
					<div class="layui-inline">
						<div class="layui-input-inline">
							<button class="layui-btn  layui-btn-sm" type="button" id="baoc"> 保 存 </button>
						</div>
					</div>
					<div class="layui-inline">
						<div class="layui-input-inline">
							<button type="button" class="layui-btn layui-btn-sm" onclick='javascript:window.print()'>
									打印
							</button>
						</div>
					</div>
				</div>

			</form>

		</div>
	</body>
	<script src="/layui/layui.js"></script>
	<script type="text/javascript ">
		layui.use(['layer','jquery','form','laydate'],function() {
			var layer = layui.layer;
			var	form = layui.form;
			var laydate = layui.laydate;
			var $ = layui.jquery;

			//执行一个laydate实例
			laydate.render({
				elem: '#test1' //指定元素
			});
			laydate.render({
				elem: '#test2' //指定元素
			});
			$("#baoc").click(function(){
				xrayjc();
			})
			/**
			 * x射线检查
			 */
			function xrayjc(){

				var certificate=$("#certificate").val();
				var examinedoctorid=$("#ysid").val();
				var examineresult=$("#examineresult").val();
				var equipmentnumber=$("#equipmentnumber").val();
				var dnormalval=$("input[name='sex']:checked").val();
				var examineresultdescribe
				if (dnormalval=="心肺横隔未见明显异常或改变"){
					examineresultdescribe="心肺横隔未见明显异常或改变";
				}else if(dnormalval="检查禁忌和其他原因末查"){
					examineresultdescribe="检查禁忌和其他原因末查";
				}else if(dnormalval="存在异常情况,具体原因如下:"){
					examineresultdescribe=$("#ycsr").val();
				}



				$.ajax({
					url: "addXrayexamine",
					data: {"certificate":certificate,"examinedoctorid":examinedoctorid,"examineresult":examineresult,"equipmentnumber":equipmentnumber,"examineresultdescribe":examineresultdescribe},
					type: "post",
					dataType: "text",
					success: function(result) {
						if (result=="true"){
							jcjg()
						}else{
							alert("保存失败");
						}
					}
				})
			}
			/**
			 * 检查结果
			 */
			function jcjg(){
				var certificate=$("#certificate").val();
				var examinedoctorid=$("#ysid").val();
				var rentryname="X射线检查";
				var dnormalval=$("input[name='sex']:checked").val();
				var examineresultdescribe
				if (dnormalval=="心肺横隔未见明显异常或改变"){
					examineresultdescribe="心肺横隔未见明显异常或改变";
				}else if(dnormalval="检查禁忌和其他原因末查"){
					examineresultdescribe="检查禁忌和其他原因末查";
				}else if(dnormalval="存在异常情况,具体原因如下:"){
					examineresultdescribe="异常"
				}
				$.ajax({
					url: "addRResult",
					data: {"certificate":certificate,"rentryname":rentryname,"result":examineresultdescribe,"examinedoctorid":examinedoctorid},
					type: "post",
					dataType: "text",
					success: function (result) {
						if (result=="true"){
							var myDate = new Date();
							$("#test2").val(myDate.toLocaleDateString());
							alert("保存成功");
						}else{
							alert("保存失败");
						}
					}
				})
			}
			form.on('radio', function(data){
				if(data.value=='心肺横隔未见明显异常或改变'){
					$("#ycsr").attr("disabled",true);
				}else if(data.value=='检查禁忌和其他原因末查') {
					$("#ycsr").attr("disabled",true);
				}else if(data.value=='存在异常情况,具体原因如下:') {
					$("#ycsr").attr("disabled",false);
				}
			});
			$(document).ready(function(){
				archives();
				Doctor();
			})
			function Doctor() {
				$.ajax({
					url: "getUserByid",
					data: "",
					type: "post",
					dataType: "text",
					success: function (result) {
						date = eval("(" + result + ")");
						$("#ysName").val(date.username);
						$("#ysid").val(date.id);
					}
				})
			}
			function archives(){
				$.ajax({
					url:"getrecordByid",
					data:"",
					type:"post",
					dataType:"text",
					success:function(result){
						date=eval("("+result+")");
						$("#name").val(date.bname);
						$("#rid").val(date.rid);
						$("#certificate").val(date.bcertificate);
					}
				})
			}
		});
	</script>

</html>