<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csdj.mapper.lx.SysUserMapper">

    <select id="getsysuserlogin" resultType="SysUser">
        select * from `sys_user` where `userName`=#{userName}
    </select>


    <!--查询所有用户或者按-->
    <select id="getuserlist" resultType="SysUser">
        select * from `sys_user` LIMIT #{index},#{pageSize}
    </select>
<!--查询总数-->
    <select id="getusercount" resultType="Integer">
        SELECT COUNT(*) FROM`sys_user`
    </select>

    <!--或者按id查询用户所有信息，配合修改删除用-->
    <select id="getuserByid" resultType="SysUser">
        select * from `sys_user` where id=#{id}
    </select>



    <!--新增系统用户-->
    <insert id="addSysUser" parameterType="SysUser">
       INSERT INTO `sys_user`(`userName`,`password`,`createDate`,`identity`)
       VALUES(#{username},#{password},#{createdate},#{identity})
    </insert>
    <!--修改系统用户-->
    <update id="updateSysUser" parameterType="SysUser">
UPDATE `sys_user`
 <set>
<if test="username!=null and username!=''">
    `userName`=#{username},
</if>
     <if test="password!=null and password!=''">
         `password`=#{password},
     </if>
     <if test="createdate!=null and createdate!=''">
         `createDate`=#{createdate},
     </if>
     <if test="identity!=null and identity!=''">
         `identity`=#{identity}
     </if>
 </set>
 where id=#{id}
    </update>
    <!--删除系统用户-->
    <delete id="deletesysUser" parameterType="Integer">
       DELETE  FROM `sys_user` WHERE `id`=#{id}
    </delete>
</mapper>