<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csdj.mapper.cx.RecorMapper">
    <select id="getlistRecord" resultType="Record">
        SELECT * FROM  `record` where 1=1
        <if test="rid!='' and rid!=null">
            and rid=#{rid}
        </if>
        <if test=" creationtime1!=null and creationtime2!=null">
            <![CDATA[ and DATE_FORMAT(creationtime, '%Y-%m-%d')>=  DATE_FORMAT(#{creationtime1}, '%Y-%m-%d') and  DATE_FORMAT(creationtime, '%Y-%m-%d')<=  DATE_FORMAT(#{creationtime2}, '%Y-%m-%d')  ]]>
        </if>
        <if test="fname!='' and fname!=null">
            and fname like concat('%',#{fname},'%')
        </if>
        <if test="bname!='' and bname!=null">
            and bname like concat('%',#{bname},'%')
        </if>
        <if test="fcertificate!='' and fcertificate!=null">
            and fcertificate like concat('%',#{fcertificate},'%')
        </if>
        <if test=" fbirth!=null">
            <![CDATA[ and DATE_FORMAT(fbirth, '%Y-%m-%d')>=  DATE_FORMAT(#{fbirth},'%Y-%m-%d') and  DATE_FORMAT(fbirth,'%Y-%m-%d')<=  DATE_FORMAT(#{fbirth}, '%Y-%m-%d')  ]]>
        </if>
        <if test="bcertificate!='' and bcertificate!=null">
            and bcertificate like concat('%',#{bcertificate},'%')
        </if>
        <if test="birth!=null">
            <![CDATA[ and DATE_FORMAT(birth, '%Y-%m-%d') >=  DATE_FORMAT(#{birth},'%Y-%m-%d') and  DATE_FORMAT(birth,'%Y-%m-%d')<=  DATE_FORMAT(#{birth}, '%Y-%m-%d') ]]>
        </if>
        LIMIT #{curPageNo},#{pageSize}
    </select>

    <select id="getLeaveCount" resultType="int">
        select count(*) from `record`  where 1=1
        <if test="rid!='' and rid!=null">
            and rid=#{rid}
        </if>
        <if test=" creationtime1!=null and creationtime2!=null">
            <![CDATA[ and DATE_FORMAT(creationtime, '%Y-%m-%d')>=  DATE_FORMAT(#{creationtime1}, '%Y-%m-%d') and  DATE_FORMAT(creationtime, '%Y-%m-%d')<=  DATE_FORMAT(#{creationtime2}, '%Y-%m-%d')  ]]>
        </if>
        <if test="fname!='' and fname!=null">
            and fname like concat('%',#{fname},'%')
        </if>
        <if test="bname!='' and bname!=null">
            and bname like concat('%',#{bname},'%')
        </if>
        <if test="fcertificate!='' and fcertificate!=null">
            and fcertificate like concat('%',#{fcertificate},'%')
        </if>
        <if test="fbirth!=null">
            <![CDATA[ and DATE_FORMAT(fbirth, '%Y-%m-%d')>=  DATE_FORMAT(#{fbirth}, '%Y-%m-%d') and  DATE_FORMAT(fbirth,'%Y-%m-%d')<=  DATE_FORMAT(#{fbirth}, '%Y-%m-%d')  ]]>
        </if>
        <if test="bcertificate!='' and bcertificate!=null">
            and bcertificate like concat('%',#{bcertificate},'%')
        </if>
        <if test="birth!=null">
            <![CDATA[ and DATE_FORMAT(birth, '%Y-%m-%d') >=  DATE_FORMAT(#{birth},'%Y-%m-%d') and  DATE_FORMAT(birth,'%Y-%m-%d')<=  DATE_FORMAT(#{birth}, '%Y-%m-%d') ]]>
        </if>
    </select>

    <select id="getid" resultType="Record">

         SELECT * FROM  `record` where  rid=#{rid}

    </select>

    <select id="selectAllSysUser" resultType="SysUser">
		SELECT * FROM sys_user
	</select>

    <insert id="addHealthCheckup" parameterType="HealthCheckup">
   insert into `health_checkup`(`height`,`weight`,`heartrate`,`bodymassindex`,`systolicpressure`,`diastolicpressure`,`stateabnormality`,`Intelligence`,`Facialfeatures`,`Specialposture`,`Specialfacecondition`,`skinandhair`,`Thyroidcondition`,`examinedoctorid`,`examinedate`,`certificate`)
value(#{height},#{weight},#{heartrate},#{bodymassindex},#{systolicpressure},#{diastolicpressure},#{stateabnormality},#{Intelligence},#{Facialfeatures},#{Specialposture},#{Specialfacecondition},#{skinandhair},#{Thyroidcondition},#{examinedoctorid},#{examinedate},#{certificate})
    </insert>

    <select id="selectAllconsent" resultType="Consent">
        SELECT * FROM consent
    </select>

    <select id="selectAlleducation" resultType="EducationLevel">
        select *from education_level
    </select>

    <select id="selectAlldocument" resultType="DocumentType">
        SELECT *FROM `document_type`
    </select>

    
    <insert id="addRecord" parameterType="Record">
        INSERT INTO `record`(`bname`,`fname`,`bcertificate`,`fcertificate`,`birth`,`fbirth`,`boccupation`,`foccupation`,`bnation`,`fnation`,`bdocumentid`,`fdocumentid`,`beducation`,`feducation`,`baccount`,`faccount`,`bphone`,`fphone`,`marriage`,`bregistered`,`fregistered`,`present`,`zipcode`,`telephonenumber`,`informedconsent`,`creationtime`,`mheadportrait`,`fheadportrait`,`consanguinity`)
        value(#{bname},#{fname},#{bcertificate},#{fcertificate},#{birth},#{fbirth},#{boccupation},#{foccupation},#{bnation},#{fnation},#{bdocumentid},#{fdocumentid},#{beducation},#{feducation},#{baccount},#{faccount},#{bphone},#{fphone},#{marriage},#{bregistered},#{fregistered},#{present},#{zipcode},#{telephonenumber},#{informedconsent},#{creationtime},#{mheadportrait},#{fheadportrait},#{consanguinity})
    </insert>

    <insert id="addGGeneral" parameterType="GGeneral">
       INSERT INTO `g_general`(`anydisease`,`birthdefects`,`isdisease`,`atpresent`,`vaccinationornot`,`examinedoctorid`,`inspectiontime`,`certificate`)
       VALUE(#{anydisease},#{birthdefects},#{isdisease},#{atpresent},#{vaccinationornot},#{examinedoctorid},#{inspectiontime},#{certificate})
     </insert>

    <select id="selectAllVaccineTypeb" resultType="VaccineTypeb">
        SELECT * FROM `vaccine_typeb`
    </select>

    <select id="selectDiseaseType" resultType="DiseaseType">
        SELECT *FROM `disease_type` WHERE `type`=1
    </select>
    <select id="selectDiseaseTypenv" resultType="DiseaseType">
        SELECT *FROM `disease_type` WHERE `type`=2
    </select>

   <select id="selectDiseaseTypeA" resultType="DiseaseType">
        SELECT *FROM `disease_type` WHERE `type`=0
    </select>
    <select id="selectIntelligenceTypeb" resultType="IntelligenceTypeb">
       SELECT  * FROM `intelligence_typeb`
    </select>
    <insert id="addIntelligence" parameterType="Intelligence">
        INSERT INTO `intelligence`(`certificate`,`Intelligencetype`) VALUE(#{certificate},#{Intelligencetype})
    </insert>

    <select id="selectF" resultType="Record">
        select r.`fname`,r.`fphone`,r.`rid`,f.`assessmentcontent` from `follow_up_visit` f,`record` r where r.`rid`=f.`rid`
        <if test="fname!='' and fname!=null">
            and r.fname like concat('%',#{fname},'%')
        </if>
        <if test="fphone!='' and fphone!=null">
            and r.fphone like concat('%',#{fphone},'%')
        </if>
        LIMIT #{curPageNo},#{pageSize}
    </select>


    <select id="getCount" resultType="int">
       select count(*)  from `follow_up_visit` f,`record` r where r.`rid`=f.`rid`
        <if test="fname!='' and fname!=null">
            and r.fname like concat('%',#{fname},'%')
        </if>
        <if test="fphone!='' and fphone!=null">
            and r.fphone like concat('%',#{fphone},'%')
        </if>
    </select>
</mapper>